
@{
    ViewData["Title"] = "Index";
}

<div class=" container-roll col-11 mx-auto   " id="block1">
    <div class="d-flex col-12 col-md-10 flex-wrap mx-auto" id="asd">
        <div class="col-fulid-12 col-lg-6  " id="roll-img">
            <b-carousel id="carousel-no-animation" style="text-shadow: 0px 0px 2px #000" no-animation indicators
                        img-width="100%" img-height="720">
                <b-carousel-slide caption="First slide" img-src="https://picsum.photos/1024/720/?image=11" fluid></b-carousel-slide>
                <b-carousel-slide caption="Second Slide" img-src="https://picsum.photos/1024/720/?image=12" fluid>
                </b-carousel-slide>
                <b-carousel-slide caption="Third Slide" img-src="https://picsum.photos/1024/720/?image=22" fluid></b-carousel-slide>
                <b-carousel-slide caption="Fourth Slide" img-src="https://picsum.photos/1024/720/?image=23" fluid>
                </b-carousel-slide>
            </b-carousel>
        </div>
        <div class="col-fulid-12 col-lg-6 " id="text">
            <div>FOUNDING</div>
            <article>
                <H3>
                    {{viewitem.summary}}
                </H3>
                <p>
                    {{viewitem.content}}
                </p>

                <div class="d-flex" id="">
                    <div class="col-1 bg-success"></div>
                    <div>
                        <a href="">1233</a>
                        <p>1個廣告/地點</p>
                    </div>
                </div>
                <div class="d-flex">
                    <h3>NT${{viewitem.currentAmount}}</h3>
                    <p>6456個支持</p>
                </div>
                <p>------------------------------------------</p>
                <b-progress :max="max">
                    <b-progress-bar :value="value" :label="`${((viewitem.currentAmount/viewitem.target) * 100).toFixed(2)}%`"></b-progress-bar>
                </b-progress>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, pariatur?</p>
                <div class="d-flex mx-auto ">
                    <button class="col-3">支持</button>
                    <button class="col-3">跟隨</button>
                    <div class="col-4 d-flex   "><a href=""><i class="fab fa-facebook-square" id="icon"></i></a></div>
                </div>
            </article>
        </div>

    </div>
    <div class="col-10 mx-auto" id="info">
        @*<b-tabs active-nav-item-class="font-weight-bold text-uppercase text-danger"
                active-tab-class="font-weight-bold text-success"
                content-class="mt-3">
            <b-tab title="STORY" active><iframe width="560" height="315" src="https://www.youtube.com/embed/UP0D8X_J1II" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></b-tab>
            <b-tab title="FAQ"><iframe src="https://i.simmer.io/@@matlab6987/123" style="width:960px;height:600px;border:0"></iframe></b-tab>
            <b-tab title="COMMENTS"><p>I'm a disabled tab!</p></b-tab>
        </b-tabs>*@
    </div>
</div>

