
@{
    ViewData["Title"] = "Index";
}

<div class="container" id="ProductPage">
    <div class="row">
        @*=================影片==============================*@
        <section class="col-12 col-lg-8 video_section" id="video_section">
            <div id="content" class="w-100 embed-responsive embed-responsive-16by9">
                <canvas id="canvas"></canvas>
                <video class="embed-responsive-item " id="video" autoplay muted controls>
                    <source src="~/video/仁王 OP.mp4" type="video/mp4">
                </video>
            </div>
        </section>

        @*=================聊天室==============================*@
        <div class="col-12 col-lg-4 chat_section">
            <div class="chat row flex-column justify-content-between">
                <div class="d-block text-center chat_title">
                    <h3>聊天室</h3>
                </div>
                <div class="d-block" id="messagesList"></div>
                <div class="d-block mt-1" id="send">
                    <select id="group">
                        <option>貓派</option>
                        <option>狗派</option>
                    </select>
                    <button class="btn btn-info" type="button" id="addGroupBtn" onclick="start()">加入群組</button>
                    <div>

                    </div>
                    姓名：<input id="name" type="text"><br>
                    訊息:<input id="msg" type="text">
                    <button type="Button" class="btn btn-outline-info" id="submitGroupBtn">送出給群組</button>
                    <button type="Button" class="btn btn-outline-dark" id="submitAllBtn">送出給所有人</button>

                    <div class="mt-2">
                        <span class="name">顏色：</span>
                        <input type="color" placeholder="選擇颜色" value="#000" id="colorInput">
                        <span class="name">文字大小：</span>
                        <input type="range" min="20" max="40" value="20" id="rangeInput">
                    </div>
                </div>
            </div>
        </div>
        

        @*=================資訊欄==============================*@
        <div class="col-12 mx-auto" id="info">
            <b-tabs active-nav-item-class="font-weight-bold text-uppercase text-danger"
                    active-tab-class="font-weight-bold text-success"
                    content-class="mt-3">
                <b-tab title="STORY" active>
                    <div>FOUNDING</div>
                    <article>
                        <h3>
                            <b-progress :max="max">
                                <b-progress-bar :value="value" :label="`${((value / max) * 100).toFixed(2)}%`"></b-progress-bar>
                            </b-progress>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, pariatur?</p>
                            <div class="d-flex mx-auto ">
                                <button class="col-3">支持</button>
                                <button class="col-3">跟隨</button>
                                <div class="col-4 d-flex   "><a href=""><i class="fab fa-facebook-square" id="icon"></i></a></div>
                            </div>
                        </h3>
                        <H3>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente magnam vel ex dicta fugit sequi officiis
                            iure reiciendis placeat illo!
                        </H3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi est, temporibus delectus ipsam cumque
                            totam necessitatibus nostrum doloremque quo voluptate eos rerum a dolorum amet eius in ex aliquam placeat
                            sed eaque repellat? Blanditiis quasi non odio maiores in autem a velit earum, magnam harum vel natus
                            possimus aliquid porro!
                        </p>

                        <div class="d-flex" id="">
                            <div class="col-1 bg-success"></div>
                            <div>
                                <a href="">1233</a>
                                <p>1個廣告/地點</p>
                            </div>
                        </div>
                        <div class="d-flex">
                            <h3>NT$2213123153136</h3>
                            <p>6456個支持</p>
                        </div>
                        <p>------------------------------------------</p>

                    </article>
                </b-tab>
                <b-tab title="FAQ"><p>I'm the second tab</p></b-tab>
                <b-tab title="COMMENTS"><p>I'm a disabled tab!</p></b-tab>
            </b-tabs>
        </div>
    </div>

</div>


@section topCSS{
    <link href="~/css/ProductPage.css" rel="stylesheet" />
}

@section endJS {
    <script src="~/js/signalr.js"></script>
    @*<script src="~/js/chat.js"></script>*@
    <script src="~/js/barrage.js"></script>
    <script>
        var test = new Vue({
            el: '#ProductPage',
            data: {
                max: 50,
                value: 33,
                viewitem: [],
            },
            created: function () {
                $.ajax({
                    url: '/api/Proposals',
                    type: 'GET',
                    data: '',
                    async: true,
                    success: function (response) {
                        console.log(response[1]);
                        test._data.viewitem = response[1];
                        test._data.max = response[1].target;
                        test._data.max = response[1].currentAmount;

                    }
                })
            },
        });


        "use strict";


        ////
        const $ = document.querySelector.bind(document);
        const canvas = $('#canvas');
        const video = $('#video');


        //上面彈幕
        // 建立SignalR連接
        var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();
        // 連接事件
        connection.start().catch(function (err) {
            return console.error(err.toString());
        });

        // 全頻道訊息
        document.getElementById('submitAllBtn').addEventListener('click', function () {
            var user = document.getElementById("name").value;
            var message = document.getElementById("msg").value;
            connection.invoke("SendMessage", user, message).catch(function (err) {
                return console.error(err.toString());
            });

        })

        // 全頻道訊息傳送訊息事件
        connection.on("ReceiveMessage", function (user, message) {
            var msg = `[全頻道訊息]${user}：${message}`;
            var li = document.createElement("li");
            li.textContent = msg;
            document.getElementById("messagesList").appendChild(li);
            Jump(message, false);
            scroll_bottom();
        });

        // 加入群組事件
        document.getElementById("addGroupBtn").addEventListener("click", function (event) {
            var user = document.getElementById("name").value;
            var group = document.getElementById("group").value;
            connection.invoke("AddGroup", group, user).catch(function (err) {
                return console.error(err.toString());
            });
            event.preventDefault();
        });

        // 接收加入群組訊息
        connection.on("RecAddGroupMsg", function (message) {
            var msg = message;
            var li = document.createElement("li");
            li.textContent = msg;
            document.getElementById("messagesList").appendChild(li);
        });

        // 群組訊息Button事件
        document.getElementById("submitGroupBtn").addEventListener("click", function (e) {
            var user = document.getElementById("name").value;
            var group = document.getElementById("group").value;
            var message = document.getElementById("msg").value;
            connection.invoke("SendMessageToGroup", group, user, message).catch(function (err) {
                return console.error(err.toString());
            });
        });


        // 群組訊息接收事件
        connection.on("ReceiveGroupMessage", function (groupName, user, message) {
            console.log(user);
            var msg = `[群組訊息(${groupName})]${user}：${message}`;
            var li = document.createElement("li");
            li.textContent = msg;
            document.getElementById("messagesList").appendChild(li);
            Jump(message, false);
            scroll_bottom();
        });

        const canvasBarrage = new CanvasBarrage(canvas, video, {

        });
        // 播放
        video.addEventListener('play', function () {
            canvasBarrage.isPaused = false;
            canvasBarrage.render();
        }, false)
        // 暫停
        video.addEventListener('pause', function () {
            canvasBarrage.isPaused = true;
        }, false)
        // 調整時間
        video.addEventListener('seeked', function () {
            canvasBarrage.reset()
        }, false)
        // 添加彈幕
        function Jump(x) {

            const value = x,
                time = video.currentTime,
                color = $('#colorInput').value,
                fontSize = $('#rangeInput').value;
            const obj = { value, time, color, fontSize };
            //debugger;
            canvasBarrage.addBarrage(obj);
            //input.value = '';
        }
        function scroll_bottom() {
            var objDiv = document.getElementById("messagesList");
            objDiv.scrollTop = objDiv.scrollHeight + 5;
        }
    </script>


}




