
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
    <div class="footer_outside col-12 bg-dark">
        <footer class="footer row col-12 col-md-10 mx-auto px-md-5">
            <div class="footer_item col-12 col-md-6 col-lg-3">
                <h3>關於</h3>
                <ul class="footer_list">
                    <li>
                        <a href="#">關於我們</a>
                    </li>
                    <li>
                        <a href="#">人才招募</a>
                    </li>
                    <li>
                        <a href="#">媒體資源</a>
                    </li>
                    <li>
                        <a href="#">商標使用規範</a>
                    </li>
                </ul>
            </div>

            <div class="footer_item col-12 col-md-6 col-lg-3">
                <h3>條款</h3>
                <ul class="footer_list">
                    <li>
                        <a href="#">網站使用條款</a>
                    </li>
                    <li>
                        <a href="#">提案者合約</a>
                    </li>
                </ul>
            </div>

            <div class="footer_item col-12 col-md-6 col-lg-3">
                <h3>協助</h3>
                <ul class="footer_list">
                    <li><a href="#">常見問題</a></li>
                    <li><a href="#">使用手冊</a></li>
                    <li> <a href="#">提案百科</a></li>
                </ul>
            </div>

            <div class="footer_item col-12 col-md-6 col-lg-3">
                <h3>支持</h3>
                <ul class="footer_list">
                    <li>
                        <a href="#">Facebook<i class="fab fa-facebook-square"></i></a>
                    </li>
                    <li>
                        <a href="#">Youtube<i class="fab fa-youtube"></i></a>
                    </li>
                    <li>
                        <a href="#">Instagram<i class="fab fa-instagram"></i></a>
                    </li>
                </ul>
            </div>
        </footer>
    </div>

