@model IEnumerable<ScendMvc.Models.Proposal>

@{
    ViewData["Title"] = "Index";
}


<div class="container" id="Fcard">
    <div class="row">
        <div class="col-3" v-for="item in items">

            <a :href=`Proposals/Details/${item.proposalId}`>
                <b-card img-alt="Image" img-top tag="article" style="max-width: 20rem;"
                        class=" mb-2">

                    <img :src=`${item.projectCover}`>
                    <div class="card-head form-inline border-bottom align-items-start">
                        <p class="mr-auto">資金</p>
                        <p v-on:click="changex(index)" class="ml-auto" v-if="item.isVIP">❤️</p>
                        <label v-on:click="changex(index)" class="ml-auto" v-else>🤍</label>
                    </div>
                    <b-card-text id="productId">{{item.proposalId}}</b-card-text>
                    <b-card-title>{{item.title}}</b-card-title>
                    <b-card-text>{{item.summary}}</b-card-text>
                    <b-progress :value="item.currentAmount" :max="item.target" :precision="2" show-progress class="mb-3">
                    </b-progress>
                </b-card>
            </a>



        </div>
    </div>
</div>




@section endJS 
{
    <script>

        var local = localStorage.getItem("URL");

        localStorage.removeItem("URL");
        if (local != null) {

            location.href = `${local}`;

            console.log(Location.href);

        }



        function index(x) {
            var index = this.Fcard.items[x];
            console.log(index);
        }




        $.ajax({
            url: "Proposals/Details/api/Proposals",
            type: 'GET',
            data: '',
            async: true,
            success: function (response) {
                console.log(response);



                GetProducts(response);


            }
        });
        function GetProducts(input) {
            this.Fcard.items = input;
        };

        var Fcard = new Vue({
            el: "#Fcard",
            data: {
                items: []
            }
        })
    </script>
}
