@model IEnumerable<ScendMvc.Models.Proposal>

@{
    ViewData["Title"] = "Index";
}


<div class="container-fluid col-md-9" id="Fcard">
    <div class="row">
        <a :href=`Proposals/Details/${item.proposalId}` class="mb-3 d-block col-12 col-md-6 col-lg-4" v-for="item in items">
            <article>
                <b-card no-body class="Proposal_Card">

                    @*<b-card-head class="card-head form-inline border-bottom align-items-start">
                            <p class="mr-auto">資金</p>
                            <p v-on:click="changex(index)" class="ml-auto" v-if="item.isVIP">❤️</p>
                            <label v-on:click="changex(index)" class="ml-auto" v-else>🤍</label>
                        </b-card-head>*@
                    @*<b-card-text id="productId">{{item.proposalId}}</b-card-text>*@
                    <b-card-header class="embed-responsive embed-responsive-4by3 head">
                        <div class="embed-responsive-item ">
                            <b-card-img :src=`${item.projectCover}` alt="Image"></b-card-img>
                        </div>
                    </b-card-header>

                    <b-card-body class="body">
                        <b-card-title class="text-dark font-weight-bolder">{{item.title}}</b-card-title>
                        <b-card-sub-title class="mb-3">{{item.displayName}}</b-card-sub-title>
                        <b-card-text class="text-dark summary">{{item.summary}}</b-card-text>
                    </b-card-body>

                    <b-card-footer >
                            <b-progress variant="info" striped :animated=true
                                        :value="item.currentAmount" :max="item.target">
                            </b-progress>
                    </b-card-footer>

                </b-card>
            </article>
        </a>
    </div>
</div>

@section topCSS
{
    <link href="~/css/Searching.css" rel="stylesheet" />
}


@section endJS
{
    <script>

        var local = localStorage.getItem("URL");

        localStorage.removeItem("URL");
        if (local != null) {

            location.href = `${local}`;

            console.log(Location.href);

        }



        function index(x) {
            var index = this.Fcard.items[x];
            console.log(index);
        }




        $.ajax({
            url: "Proposals/Details/api/Proposals",
            type: 'GET',
            data: '',
            async: true,
            success: function (response) {
                console.log(response);
                GetProducts(response);
            }
        });
        function GetProducts(input) {
            this.Fcard.items = input;
        };

        var Fcard = new Vue({
            el: "#Fcard",
            data: {
                items: []
            }
        })
    </script>
}
