@model ScendMvc.Models.FeedBack

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-md-4 col-6 m-auto">
        <h1>編輯回饋資訊</h1>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="title">回饋金額</label>
                @*<label asp-for="FeedbackAmount" class="control-label"></label>*@
                <input asp-for="FeedbackAmount" class="form-control" />
                <span asp-validation-for="FeedbackAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="title">內容摘要</label>
                @*<label asp-for="FeedbackSummary" class="control-label"></label>*@
                <input asp-for="FeedbackSummary" class="form-control" />
                <span asp-validation-for="FeedbackSummary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="title">回饋封面</label>
                <input type="file" name="name" value="" onchange="Selected(event,1)" />
                <input asp-for="FeedbackCover" id="case1" class="form-control" />
                @*<label asp-for="FeedbackCover" class="control-label"></label>*@
                <span asp-validation-for="FeedbackCover" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="title">運送方式</label>
                @*<label asp-for="FeedbackType" class="control-label"></label>*@
                <input asp-for="FeedbackType" class="form-control" />
                <span asp-validation-for="FeedbackType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="title">預計寄送時間</label>
                @*<label asp-for="DeliveryTime" class="control-label"></label>*@
                <input asp-for="DeliveryTime" class="form-control" />
                <span asp-validation-for="DeliveryTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="title">回饋數量限制</label>
                @*<label asp-for="FeedbackLimit" class="control-label"></label>*@
                <input asp-for="FeedbackLimit" class="form-control" />
                <span asp-validation-for="FeedbackLimit" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="FeedbackId" class="control-label"></label>
                <input asp-for="FeedbackId" class="form-control" />
                <span asp-validation-for="FeedbackId" class="text-danger"></span>
            </div>*@
            @*<div class="form-group">
                <label asp-for="ProposalId" class="control-label"></label>
                <input asp-for="ProposalId" class="form-control" />
                <span asp-validation-for="ProposalId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script>
    const id = '6bf0ca08d5201bf'; // 填入 App 的 Client ID
    const token = '693486dcc4b44e86173cd9f4efad156d88c5f4c0'; // 填入 token
    function Selected(e, index) {

        this.file = e.target.files[0];// input type="file" 的值

        this.name = this.file.name; // input的圖檔名稱

        this.size = Math.floor(this.file.size * 0.001) + 'KB'; // input的圖片大小
        this.thumbnail = window.URL.createObjectURL(this.file); // input的圖片縮圖
        this.title = this.name; // 預設 input 的圖檔名稱為圖片上傳時的圖片標題
        let settings = {
            async: false,
            crossDomain: true,
            processData: false,
            contentType: false,
            type: 'POST',
            url: 'https://api.imgur.com/3/image',
            headers: {
                Authorization: 'Bearer ' + token
            },
            mimeType: 'multipart/form-data'
        };

        let form = new FormData();
        form.append('image', this.file);
        //form.append('album', album); // 有要指定的相簿就加這行
        settings.data = form;
        $.ajax(settings).done(function (res) {
            //console.log(res); // 可以看見上傳成功後回的值

            var test = JSON.parse(res);
            // console.log(test.data.link)
            console.log(test.data.link);
            // console.log(Feedback._data.form[index].file);

            var box = document.getElementById(`case${index}`)
            box.value = test.data.link;
        })
    }




</script>
