body {
}
.container-roll {
    margin-top: 200px;
    padding-bottom: 0%;
    text-align: start;
}

#info {
    padding: 0 30px;
}

#text article H3 {
    font-size: 1.5rem;
}

#text article {
    font-size: .5rem;
}

#asd {
    padding-bottom: 3rem;
}

#icon {
    font-size: 1rem;
}

@media screen and (min-width: 960px) {
    #block1 {
        flex-wrap: wrap;
    }
}