a, a:hover, a:visited, a:link, a:active {
    color: #000;
    text-decoration: none;
    outline: none;
}
body {
    background-color: #fff;
}
#Fcard {
    margin-top: 2rem;
    font-family: 'Noto Sans TC', sans-serif;
    margin-bottom: 2rem;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 0 0 1rem #666;
}
.fund_title {
    margin-bottom: 2rem;
}

    .fund_title h3 {
        font-weight: bold;
        color: #666;
        text-align: center;
        display: block;
        margin: auto;
        padding: 1.5rem 0;
        border-bottom: 1px dashed #aaa;
    }

.Proposal_Card {
    border: .1rem solid #aaa;
    /*margin: 1rem;*/
    transition: .5s;
}

    .Proposal_Card:hover {
        box-shadow: 0 0 1.5rem #333;
        /*margin:0;*/
    }
    .Proposal_Card .body{
        height:30vh;
    }
    .Proposal_Card .body .summary {
        height: 15vh;
    }

