a, a:hover, a:visited, a:link, a:active {
    color: #000;
    text-decoration: none;
    outline: none;
}
body {
    background-color: #eee;
}
#Fcard {
    margin-top: 2rem;
    font-family: 'Noto Sans TC', sans-serif;
}
.Proposal_Card {
    border: .1rem solid #aaa;
    margin: 1rem;
    transition: .5s;
}

    .Proposal_Card:hover {
        box-shadow: 0 0 1.5rem #333;
        margin:0;
    }
    .Proposal_Card .body{
        height:30vh;
    }
    .Proposal_Card .body .summary {
        height: 15vh;
    }

