@page
@model ForgotPasswordModel
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/ConfirmEmail css/ForgotPassword.css">


<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <hgroup>
                <h1 class="free">Enter your email</h1>
            </hgroup>
            <div class="well">
                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="input-group">
                        <input class="btn btn-lg" asp-for="Input.Email" placeholder="Your Email" required>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                        <button class="btn btn-info btn-lg" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@*@{
        ViewData["Title"] = "Forgot your password?";
    }

    <h1>@ViewData["Title"]</h1>
    <h4>Enter your email.</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
